@font-face {
	font-family: 'NewRocker-Regular';
	src: url(../fonts/NewRocker-Regular.otf);
	font-weight: 400;
	font-style: normal;
}

body{
	height: 100%;
	width: 100%;
	padding: 0 auto;
	margin: 0 auto;
}
.Background{
	background-image: url(../img/background.jpeg);
	height: 900px;
	width: 1600px;
}
.mainground{
	display: flex;
  justify-content: center;
}
h1{
	font-family: 'NewRocker-Regular';
	color: #04ff00;
	text-align: center;
	font-size: 88px;
	margin-top: 0px;
	
}
button{
	color: #04ff00;
	height: 50px;
	width: 150px;
	background-color: rgba(0,0,0,.3);
	border-radius: 30px;
}
.Button1:hover{
	background-color: rgba(0,0,0,.8);
}
p{	
	font-family: 'NewRocker-Regular';
    font-size: 100px;
    margin: 0;
    color: #04ff00;
    text-align: center;
    float: left;
    padding-left: 546px;
}
a{
	font-family: 'NewRocker-Regular';
	color: #04ff00;
}
#info{
	float: right;
	color: #04ff00;
	
}

span{
	font-size: 20px;
}

[data-view="card"] {
  transform: rotateY(180deg);
  width: 130px;
  height: 183px;
  margin: 5px;
  float: left;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
 
}
#container{
	width: 1200px;
	text-align: center;
	margin:auto;
}
#container p{
	font-size: 50px;
}
.flipped {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(0deg);
}

.reverse {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
}
.correct {
  transition: 0.8s;
  opacity: 0.2;
  cursor: default;
  transform-style: preserve-3d;
  position: relative;
  transform: translateX(-5000%);
}
.correct[data-item="1"],
.flipped[data-item="1"] {
  background: url("../img/1.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="2"],
.flipped[data-item="2"] {
  background: url("../img/2.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="3"],
.flipped[data-item="3"] {
  background: url("../img/3.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="4"],
.flipped[data-item="4"] {
  background: url("../img/4.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="5"],
.flipped[data-item="5"] {
  background: url("../img/5.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="6"],
.flipped[data-item="6"] {
  background: url("../img/6.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="7"],
.flipped[data-item="7"] {
  background: url("../img/7.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="8"],
.flipped[data-item="8"] {
  background: url("../img/8.png") left center no-repeat;
  background-size: contain;
}
.correct[data-item="9"],
.flipped[data-item="9"] {
  background: url("../img/9.png") left center no-repeat;
  background-size: contain;
}
.correct[data-item="10"],
.flipped[data-item="10"] {
  background: url("../img/10.png") left center no-repeat;
  background-size: contain;
}
.correct[data-item="11"],
.flipped[data-item="11"] {
  background: url("../img/11.png") left center no-repeat;
  background-size: contain;
}
.correct[data-item="12"],
.flipped[data-item="12"] {
  background: url("../img/12.png") left center no-repeat;
  background-size: contain;
}
.test{
	background-image: url(../img/Card_shirt_1.png);
	
}
.new1{
	background-image: url(../img/Card_shirt_1.png);	
}
.new2{
	background-image: url(../img/Card_shirt_2.png);	
}
.new3{
	background-image: url(../img/Card_shirt_3.png);	
}
.new4{
	background-image: url(../img/Card_shirt_4.png);	
}
.new5{
	background-image: url(../img/Card_shirt_5.png);	
}
.new6{
	background-image: url(../img/Card_shirt_6.png);	
}
.new7{
	background-image: url(../img/Card_shirt_7.png);	
}
.new8{
	background-image: url(../img/Card_shirt_8.png);	
}
.new9{
	background-image: url(../img/Card_shirt_9.png);	
}

.reverse1 {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
  background-image: url(../img/Card_shirt_1.png);
}

.reverse2 {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
  background-image: url(../img/Card_shirt_2.png);
}
.reverse3 {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
  background-image: url(../img/Card_shirt_3.png);
}
.reverse4 {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
  background-image: url(../img/Card_shirt_4.png);
}
.reverse5 {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
  background-image: url(../img/Card_shirt_5.png);
}
.reverse6 {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
  background-image: url(../img/Card_shirt_6.png);
}
.reverse7 {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
  background-image: url(../img/Card_shirt_7.png);
}
.reverse8 {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
  background-image: url(../img/Card_shirt_8.png);
}
.reverse9 {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
  background-image: url(../img/Card_shirt_9.png);
}